# Use this notebook for your 3 choices of APIs

In [1]:
# libraries

import requests
import json
import pandas as pd
from pandas import json_normalize

In [2]:
pd.reset_option('display.max_colwidth')

In [3]:
arbeitnow = requests.get("https://arbeitnow.com/api/job-board-api")
print("Arbeitnow:", arbeitnow.status_code)

Arbeitnow: 200

### arbeitnow.com

https://www.arbeitnow.com/about | https://www.arbeitnow.com/api/job-board-api

In [45]:
response_arbeitnow = requests.get("https://arbeitnow.com/api/job-board-api")
# response_arbeitnow.content

In [5]:
len(response_arbeitnow.text)

382944

In [6]:
results_arbeitnow = response_arbeitnow.json()
# dict(results_arbeitnow)

In [7]:
print(type(results_arbeitnow))
print(len(results_arbeitnow))

<class 'dict'>
3

In [8]:
results_arbeitnow.keys()

dict_keys(['data', 'links', 'meta'])

In [9]:
print(type(results_arbeitnow['data']))
print(len(results_arbeitnow['data']))
# list(results_arbeitnow['data'])

<class 'list'>
100

In [10]:
print(type(results_arbeitnow['links']))
print(len(results_arbeitnow['links']))

<class 'dict'>
4

In [11]:
dict(results_arbeitnow['links'])

{'first': 'https://www.arbeitnow.com/api/job-board-api?page=1',
 'last': None,
 'prev': None,
 'next': 'https://www.arbeitnow.com/api/job-board-api?page=2'}

In [12]:
print(type(results_arbeitnow['meta']))
print(len(results_arbeitnow['meta']))

<class 'dict'>
7

In [13]:
dict(results_arbeitnow['meta'])

{'current_page': 1,
 'from': 1,
 'path': 'https://www.arbeitnow.com/api/job-board-api',
 'per_page': 100,
 'to': 100,
 'terms': 'This is a free public API for jobs, please do not abuse. I would appreciate linking back to the site. By using the API, you agree to the terms of service present on Arbeitnow.com',
 'info': 'Jobs are updated every hour and order by the `created_at` timestamp. Use `?page=` to paginate. Read more information here: https://www.arbeitnow.com/blog/job-board-api'}

In [14]:
data_arbeitnow = pd.DataFrame(results_arbeitnow['data'])
data_arbeitnow.shape

(100, 10)

In [15]:
data_arbeitnow.head(10)

,slug,company_name,title,description,remote,url,tags,job_types,location,created_at
0,junior-webentwickler-schwerpunkt-wordpress-gre...,Adenion GmbH,Junior Webentwickler Schwerpunkt WordPress (m/...,"<p>Du hast Lust, mit neuesten Technologien zu ...",True,https://www.arbeitnow.com/jobs/companies/adeni...,"[Remote, Software Development]",[berufseinstieg],Grevenbroich,1700588945
1,werkstudent-app-entwicklung-ios-android-hambur...,CHECK24,Werkstudent (m/w/d) App-Entwicklung iOS/Android,<p>Wir bei <strong>CHECK24 in Hamburg</strong>...,False,https://www.arbeitnow.com/jobs/companies/check...,[Software Development],[Working student],Hamburg,1700588945
2,commercial-marketing-manager-munich-251088,Moltke Sports GmbH,Commercial Marketing Manager (m/w/d),<p>Sport ist deine Leidenschaft? Dann bist Du ...,False,https://www.arbeitnow.com/jobs/companies/moltk...,[Marketing Manager],[],Munich,1700588945
3,it-kommunikationsmanager-car-configurator-ulm-...,univativ GmbH,IT Kommunikationsmanager (m/w/d) Car Configurator,"<p><strong>Baldmöglichst, bis zum 01.06.2025 |...",False,https://www.arbeitnow.com/jobs/companies/univa...,[IT],[],Ulm,1700588945
4,social-performance-marketing-managerin-aschhei...,Searchtalent,Social Performance Marketing Manager:in (m/w/d),<p>Mit einem bunten und hochmotivierten Team v...,False,https://www.arbeitnow.com/jobs/companies/searc...,[Social Media Manager],[berufserfahren],Aschheim,1700588945
5,cro-specialist-conversion-rate-optimization-ma...,FFG FINANZCHECK Finanzportale GmbH,CRO Specialist |Conversion Rate Optimization M...,<p>We are <strong>FINANZCHECK.de</strong> – <s...,False,https://www.arbeitnow.com/jobs/companies/ffg-f...,[Product Management],[],Berlin,1700588945
6,cro-specialist-conversion-rate-optimization-ma...,FFG FINANZCHECK Finanzportale GmbH,CRO Specialist |Conversion Rate Optimization M...,<p>We are <strong>FINANZCHECK.de</strong> – <s...,False,https://www.arbeitnow.com/jobs/companies/ffg-f...,[Product Management],[],Hamburg,1700588945
7,e-mail-marketing-crm-managerin-dusseldorf-179698,Otto Wilde Grillers GmbH,E-Mail-Marketing / CRM Manager*In (m/w/d),<h2>Wilde enough?</h2>\n<p>Du brennst für E-Ma...,False,https://www.arbeitnow.com/jobs/companies/otto-...,[Marketing and Communication],[berufserfahren],Düsseldorf,1700588945
8,produktmanager-team-unfallversicherungen-munic...,CHECK24,Produktmanager (m/w/d) Team Unfallversicherungen,"<p>Du schaffst es, viele Bälle gleichzeitig in...",False,https://www.arbeitnow.com/jobs/companies/check...,[Product Management],[],Munich,1700588945
9,werkstudent-php-entwicklung-remote-munich-238769,Mischki eG,Werkstudent PHP-Entwicklung (Remote),<p>Wir suchen eine engagierte und vielseitige ...,True,https://www.arbeitnow.com/jobs/companies/misch...,"[Remote, Web Development]",[],Munich,1700588945

In [16]:
pd.DataFrame(results_arbeitnow['meta'].keys())

              0
0  current_page
1          from
2          path
3      per_page
4            to
5         terms
6          info

In [17]:
# extract 'arbeitnow' page links

In [18]:
arbeitnow_links = []

In [19]:
page_num = [*range(1,20,1)]
print(page_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
for i in page_num:
    arbeitnow_links.append('https://www.arbeitnow.com/api/job-board-api?page='+str(i))

In [21]:
arbeitnow_links

['https://www.arbeitnow.com/api/job-board-api?page=1',
 'https://www.arbeitnow.com/api/job-board-api?page=2',
 'https://www.arbeitnow.com/api/job-board-api?page=3',
 'https://www.arbeitnow.com/api/job-board-api?page=4',
 'https://www.arbeitnow.com/api/job-board-api?page=5',
 'https://www.arbeitnow.com/api/job-board-api?page=6',
 'https://www.arbeitnow.com/api/job-board-api?page=7',
 'https://www.arbeitnow.com/api/job-board-api?page=8',
 'https://www.arbeitnow.com/api/job-board-api?page=9',
 'https://www.arbeitnow.com/api/job-board-api?page=10',
 'https://www.arbeitnow.com/api/job-board-api?page=11',
 'https://www.arbeitnow.com/api/job-board-api?page=12',
 'https://www.arbeitnow.com/api/job-board-api?page=13',
 'https://www.arbeitnow.com/api/job-board-api?page=14',
 'https://www.arbeitnow.com/api/job-board-api?page=15',
 'https://www.arbeitnow.com/api/job-board-api?page=16',
 'https://www.arbeitnow.com/api/job-board-api?page=17',
 'https://www.arbeitnow.com/api/job-board-api?page=18',
 'https://www.arbeitnow.com/api/job-board-api?page=19']

In [22]:
response_arbeitnow = requests.get( 'https://www.arbeitnow.com/api/job-board-api?page=14')
#print(response_arbeitnow.content)
results_arbeitnow = response_arbeitnow.json()
#results_arbeitnow[]
data_arbeitnow = pd.DataFrame(results_arbeitnow['data'])
data_arbeitnow

,slug,company_name,title,description,remote,url,tags,job_types,location,created_at
0,junior-personalberater-consultant-munich-391979,OPUS ONE Recruitment GmbH,(Junior) Personalberater | Consultant (m/w/d),<p><strong>OPUS ONE</strong> Recruitment ist e...,False,https://www.arbeitnow.com/jobs/companies/opus-...,[Recruitment and Selection],[berufserfahren],Munich,1700135350
1,sap-support-consultant-mannheim-212814,Pertemps ERP,SAP Support Consultant,<p><strong>We are looking for an SAP SD Suppor...,False,https://www.arbeitnow.com/jobs/companies/perte...,[IT],[professional / experienced],Mannheim,1700135350
2,fashion-visual-merchandiser-trier-495353,Zara,Fashion Visual Merchandiser (m/w/d),<p><strong>ARE YOU FASHION?</strong><br>\nKrea...,False,https://www.arbeitnow.com/jobs/companies/zara/...,[Marketing and Communication],[],Trier,1700135350
3,store-manager-in-voll-oder-teilzeit-30-38h-han...,Lakrids by Johan Bülow GmbH,Store Manager (m/f/x) in Voll- oder Teilzeit (...,<p><strong>Unsere einzigartige Mission geht we...,False,https://www.arbeitnow.com/jobs/companies/lakri...,"[Management, Team Leader]",[teamleitung],Hanover,1700135350
4,social-media-marketing-content-manager-frankfu...,Pertemps ERP,Social Media Marketing/Content Manager (m/w/d),<p>Social Media Marketing/Content Manager (m/w...,True,https://www.arbeitnow.com/jobs/companies/perte...,"[Remote, Online Marketing]",[teamleitung],Frankfurt,1700135350
...,...,...,...,...,...,...,...,...,...,...
95,consultant-developer-ms-dynamics-365-business-...,Ritter Technologie GmbH,Consultant / Developer (m/w/d) MS Dynamics 365...,<p>Die <strong>Ritter Technologie GmbH</strong...,False,https://www.arbeitnow.com/jobs/companies/ritte...,[IT],[],Oberhausen,1700074146
96,open-doors-open-mind-remote-fur-php-fullstacks...,myTalentscout GmbH,"Open Doors, open Mind & Remote für PHP Fullsta...","<p>Sorry not Sorry, aber wir werden dir nicht ...",True,https://www.arbeitnow.com/jobs/companies/mytal...,"[Remote, Web Development]",[berufserfahren],Münster,1700074146
97,technischer-zeichner-technischer-produktdesign...,KRESS Fahrzeugbau GmbH,Technischer Zeichner / Technischer Produktdesi...,<p>Die KRESS Fahrzeugbau GmbH gehört zu den fü...,False,https://www.arbeitnow.com/jobs/companies/kress...,[Automotive Engineering],[berufserfahren],Meckesheim,1700074146
98,die-wahrscheinlich-beste-bilanzbuchhalter-stel...,Schwertfels Consulting GmbH,Die wahrscheinlich beste Bilanzbuchhalter-Stel...,"<p>Gut ausgebildete Bilanzbuchhalter (m/w/d), ...",False,https://www.arbeitnow.com/jobs/companies/schwe...,[Finance],[],Leipzig,1700074146
99,die-wahrscheinlich-beste-bilanzbuchhalter-stel...,Schwertfels Consulting GmbH,Die wahrscheinlich beste Bilanzbuchhalter-Stel...,"<p>Gut ausgebildete Bilanzbuchhalter (m/w/d), ...",False,https://www.arbeitnow.com/jobs/companies/schwe...,[Finance],[],Berlin,1700074146

In [23]:
arbeitnow_df = pd.DataFrame()

for link in arbeitnow_links:
    
    response_arbeitnow = requests.get(link)
    results_arbeitnow = response_arbeitnow.json()
    data_arbeitnow = pd.DataFrame(results_arbeitnow['data'])
    arbeitnow_df = pd.concat([arbeitnow_df,data_arbeitnow], axis = 0)

arbeitnow_df

,slug,company_name,title,description,remote,url,tags,job_types,location,created_at
0,junior-webentwickler-schwerpunkt-wordpress-gre...,Adenion GmbH,Junior Webentwickler Schwerpunkt WordPress (m/...,"<p>Du hast Lust, mit neuesten Technologien zu ...",True,https://www.arbeitnow.com/jobs/companies/adeni...,"[Remote, Software Development]",[berufseinstieg],Grevenbroich,1700588945
1,werkstudent-app-entwicklung-ios-android-hambur...,CHECK24,Werkstudent (m/w/d) App-Entwicklung iOS/Android,<p>Wir bei <strong>CHECK24 in Hamburg</strong>...,False,https://www.arbeitnow.com/jobs/companies/check...,[Software Development],[Working student],Hamburg,1700588945
2,commercial-marketing-manager-munich-251088,Moltke Sports GmbH,Commercial Marketing Manager (m/w/d),<p>Sport ist deine Leidenschaft? Dann bist Du ...,False,https://www.arbeitnow.com/jobs/companies/moltk...,[Marketing Manager],[],Munich,1700588945
3,it-kommunikationsmanager-car-configurator-ulm-...,univativ GmbH,IT Kommunikationsmanager (m/w/d) Car Configurator,"<p><strong>Baldmöglichst, bis zum 01.06.2025 |...",False,https://www.arbeitnow.com/jobs/companies/univa...,[IT],[],Ulm,1700588945
4,social-performance-marketing-managerin-aschhei...,Searchtalent,Social Performance Marketing Manager:in (m/w/d),<p>Mit einem bunten und hochmotivierten Team v...,False,https://www.arbeitnow.com/jobs/companies/searc...,[Social Media Manager],[berufserfahren],Aschheim,1700588945
...,...,...,...,...,...,...,...,...,...,...
69,online-marketing-manager-dresden-373708,PIPA GmbH,Online Marketing Manager (m/w/d),<p><strong>Unser Kunde queo:</strong></p>\n<p>...,False,https://www.arbeitnow.com/jobs/companies/pipa-...,[Marketing Manager],[],Dresden,1699987747
70,talent-acquisition-manager-munich-402858,MY Humancapital GmbH,Talent Acquisition Manager (m/w/d),<p><strong>Join our team:</strong> Candidate C...,False,https://www.arbeitnow.com/jobs/companies/my-hu...,[Recruitment and Selection],"[Vollzeit (unbefristet), hilfstätigkeit / stud...",Munich,1699987747
71,investment-manager-hamburg-415320,Companion Unternehmenskapital GmbH,Investment Manager (m/w/d),<p>Der Companion-Fund investiert in Mehrheiten...,False,https://www.arbeitnow.com/jobs/companies/compa...,[Finance],[berufserfahren],Hamburg,1699987747
72,recruiter-active-sourcing-munich-78640,MY Humancapital GmbH,Recruiter (m/w/d) - Active Sourcing,<p>Unser Partnerunternehmen sucht Sie als <str...,False,https://www.arbeitnow.com/jobs/companies/my-hu...,[Recruitment and Selection],[],Munich,1699987746
73,customer-service-agent-all-genders-fully-remot...,OUTFITTERY GmbH,Customer Service Agent (all genders) fully rem...,<p><strong>OUTFITTERY</strong> is the biggest ...,True,https://www.arbeitnow.com/jobs/companies/outfi...,"[Remote, Customer Service]",[],Berlin,1699987746

| https://api.nasa.gov/planetary/apod

In [24]:
import getpass

In [25]:
apikey = getpass.getpass()

········

In [26]:
nasa_img = requests.get('https://api.nasa.gov/planetary/apod?api_key='+apikey)
print("NASA APOD:", nasa_img.status_code)

NASA APOD: 200

In [27]:
nasa_img.content

b'{"copyright":"\\nCristiano Gualco\\n","date":"2023-11-21","explanation":"These chaotic and tangled filaments of shocked, glowing gas are spread across planet Earth\'s sky toward the constellation of Cygnus as part of the Veil Nebula. The Veil Nebula itself is a large supernova remnant, an expanding cloud born of the death explosion of a massive star. Light from the original supernova explosion likely reached Earth over 5,000 years ago. The glowing filaments are really more like long ripples in a sheet seen almost edge on, remarkably well separated into the glow of ionized hydrogen atoms shown in red and oxygen in blue hues. Also known as the Cygnus Loop and cataloged as NGC 6979, the Veil Nebula now spans about 6 times the diameter of the full Moon. The length of the wisp corresponds to about 30 light years, given its estimated distance of 2,400 light years.  Often identified as Pickering\'s Triangle for a director of Harvard College Observatory, it is perhaps better named for its discoverer, astronomer Williamina Fleming, as Fleming\'s Triangular Wisp.   New: Follow APOD on Telegram","hdurl":"https://apod.nasa.gov/apod/image/2311/FlemingsWisp_Gualco_2801.jpg","media_type":"image","service_version":"v1","title":"Fleming\'s Triangular Wisp","url":"https://apod.nasa.gov/apod/image/2311/FlemingsWisp_Gualco_960.jpg"}\n'

In [28]:
results_nasa_img = nasa_img.json()
dict(results_nasa_img)

{'copyright': '\nCristiano Gualco\n',
 'date': '2023-11-21',
 'explanation': "These chaotic and tangled filaments of shocked, glowing gas are spread across planet Earth's sky toward the constellation of Cygnus as part of the Veil Nebula. The Veil Nebula itself is a large supernova remnant, an expanding cloud born of the death explosion of a massive star. Light from the original supernova explosion likely reached Earth over 5,000 years ago. The glowing filaments are really more like long ripples in a sheet seen almost edge on, remarkably well separated into the glow of ionized hydrogen atoms shown in red and oxygen in blue hues. Also known as the Cygnus Loop and cataloged as NGC 6979, the Veil Nebula now spans about 6 times the diameter of the full Moon. The length of the wisp corresponds to about 30 light years, given its estimated distance of 2,400 light years.  Often identified as Pickering's Triangle for a director of Harvard College Observatory, it is perhaps better named for its discoverer, astronomer Williamina Fleming, as Fleming's Triangular Wisp.   New: Follow APOD on Telegram",
 'hdurl': 'https://apod.nasa.gov/apod/image/2311/FlemingsWisp_Gualco_2801.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': "Fleming's Triangular Wisp",
 'url': 'https://apod.nasa.gov/apod/image/2311/FlemingsWisp_Gualco_960.jpg'}

In [29]:
nasa_apod = pd.DataFrame.from_dict(results_nasa_img,orient='index').T
nasa_apod

,copyright,date,explanation,hdurl,media_type,service_version,title,url
0,\nCristiano Gualco\n,2023-11-21,These chaotic and tangled filaments of shocked...,https://apod.nasa.gov/apod/image/2311/Flemings...,image,v1,Fleming's Triangular Wisp,https://apod.nasa.gov/apod/image/2311/Flemings...

### southpark-quotes-api

https://github.com/Thatskat/southpark-quotes-api#api

In [30]:
spq = requests.get('https://southparkquotes.onrender.com/v1/quotes/search/randy')
print("South Park Quotes:", spq.status_code)

South Park Quotes: 200

In [31]:
# spq.content

In [34]:
results_spq = spq.json()
type(results_spq)

list

In [35]:
south_park_quotes = pd.DataFrame(results_spq)

In [43]:
pd.set_option('display.max_colwidth',250)

In [44]:
south_park_quotes

,quote,character
0,"as you get older, boobs will start becoming a major part of your life. but you can’t let them get in the way of your friends. there are a lot of boobs out there. but they’re just boobs. your friends are forever.",randy
1,"we must stop frivolous spending! instead of paying for cable, let us watch clouds! instead of buying clothes, wear but sheets from thine beds! cut spending to only the bare essentials! water and bread and margaritas!",randy
2,"oh, i forgot to tell you that part. i'm lorde.",randy
3,i ammm lorde. lawdy lawdy lorde!,randy
4,"winter's coming, sharon, and i'm a busy little bee. buzz! buzz!",randy
5,"oh, i’m sorry! i thought this was america!",randy
6,"i’m not having a glass of wine, i’m having six. it’s called a tasting, and it’s classy.",randy
7,"you do not say 'big silly goose,' you call him an asshole like a normal kid!",randy
8,there's plenty of other interesting things you can do. have you ever tried marijuana. maybe it's time.,randy
9,i'm not chugging beer! i'm sampling a flight of gluten-free german lagers with a french wine pairing! it's called a smorgaswein and it's elegantly cultural!,randy
10,this disease is just eating me up! i hate my illness!,randy
11,"the players should all wear bras! and instead of helmets, they should wear little tinfoil hats, 'cause, you know, it's the future and we shouldn't be so barbaric!",randy
12,"just gonna get a little bit of cancer, stan. tell mom it's okay.",randy
13,"creme fraiche, cafeteria fraiche. lalalalala fraiche. ho ho hohoho.",randy
14,"i'll make less money, sure, but ... as long as i buy everything at wall-mart, it'll all even out. don't you see? wall-mart isn't our enemy, it's our neighborhood friend.",randy
15,"god, why do the economically challenged always have to screw up everything?!",randy
16,"yeah, well just like the rest of us, you have to make choices with your money. do you want a bike, or do you not want to be depressed?",randy
17,"it’s simple economics, son. i don’t understand it at all, but god, i love it!",randy
18,your mother was worried sick and i was here drinking beer.,randy

### ice-and-fire-api

In [54]:
ice_and_fire = requests.get('https://anapioficeandfire.com/api/characters/583')
print("Ice & Fire:", ice_and_fire.status_code)

Ice & Fire: 200

In [67]:
# ice_and_fire.content

In [66]:
results_ice_and_fire = ice_and_fire.json()
dict(results_ice_and_fire)

{'url': 'https://anapioficeandfire.com/api/characters/583',
 'name': 'Jon Snow',
 'gender': 'Male',
 'culture': 'Northmen',
 'born': 'In 283 AC',
 'died': '',
 'titles': ["Lord Commander of the Night's Watch"],
 'aliases': ['Lord Snow',
  "Ned Stark's Bastard",
  'The Snow of Winterfell',
  'The Crow-Come-Over',
  "The 998th Lord Commander of the Night's Watch",
  'The Bastard of Winterfell',
  'The Black Bastard of the Wall',
  'Lord Crow'],
 'father': '',
 'mother': '',
 'spouse': '',
 'allegiances': ['https://anapioficeandfire.com/api/houses/362'],
 'books': ['https://anapioficeandfire.com/api/books/5'],
 'povBooks': ['https://anapioficeandfire.com/api/books/1',
  'https://anapioficeandfire.com/api/books/2',
  'https://anapioficeandfire.com/api/books/3',
  'https://anapioficeandfire.com/api/books/8'],
 'tvSeries': ['Season 1',
  'Season 2',
  'Season 3',
  'Season 4',
  'Season 5',
  'Season 6'],
 'playedBy': ['Kit Harington']}

In [62]:
# ice_ad_fire_df = pd.DataFrame.from_dict(results_ice_and_fire).T

ValueError: All arrays must be of the same length